body{
    background: #BDBDBD;
    padding: 0;
    margin-top: 0;
}

.nav-link, .navbar-brand {
    color: gray;
}

.titulo {
    font-size: 45px;
}

.texto {
    color: gray;
}

.parrafo {
    font-size: 20px;
}

.imagen {
    width: 300px;
    height: 300px;
}

.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: bottom;

}

.jumbo-text {
    background-color: #f3fdff;
    text-align: center;
    font-weight: 550;

}

h1.jumbo-text {
font-size:100px;
}

h3.jumbo-text {
    font-size:80px;
}

.jumbotron div h3 {
    margin-top:1vw;
    margin-bottom:200px;
}