<!-- your html code here Ivan Roman-->
<div class="container">
    <hr>
        <div class="row justify-content-start">
            <div class="col-8">
                <h2 class="titulo">The First Heading <span class="texto"> Will Catch Your Eye</span></h2>
                <p class="parrafo">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        <div class="col-4">
            <img class="rounded-circle imagen" src="./assets/img/1.jpg" alt="">
        </div>
        </div>
    <hr>
</div>