<!-- your html code here Julio Campos LISTO-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h2 class="text-left">Portfolio</h2>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod semper porttitor.</p>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project 1">
                <h4 class="mt-2">Project Name</h4>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project 2">
                <h4 class="mt-2">Project Name</h4>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project 3">
                <h4 class="mt-2">Project Name</h4>
            </div>
        </div>
    </div>
</body>
</html>